.app-title {
    display: flex;
    font-family: Archivo;
    letter-spacing: 0.2rem;
    font-size: 1em;
    text-transform: uppercase;
    padding-left:16px;
    overflow: initial;
    margin-right: 16px;
    // margin-top: 16px;
  }

.q-layout{
    background: #000000;
}

